.u-section-1 .u-sheet-1 {
  min-height: 416px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 10px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: 13px auto 27px 0;
  padding: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 1455px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 20px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 22px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 22px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 22px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 22px 0 59px;
}